<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-3xl mx-auto px-4 py-16 sm:px-6 sm:py-24 lg:px-8 flex flex-col items-center">
  <h1 class="text-md font-semibold uppercase tracking-wide text-green-600">{{ trans:checkout.thank_you }}</h1>
  <p class="mt-2 text-2xl font-extrabold tracking-tight sm:text-3xl text-center">{{ trans:checkout.noted }}</p>
  <p class="mt-4 text-2xl font-normal tracking-tight sm:text-xl text-center">{{ trans:checkout.notif }}</p>
  <!-- <div class="mt-10 border-t border-gray-700">
    <div class="py-10 flex space-x-6">
      <div class="flex-auto flex flex-col">
        <div>
          <h4 class="font-medium text-white">
            <a href="#">Cold Brew Bottle</a>
          </h4>
          <p class="mt-2 text-sm text-gray-300">This glass bottle comes with a mesh insert for steeping tea or cold-brewing coffee. Pour from any angle and remove the top for easy cleaning.</p>
        </div>
        <div class="mt-6 flex-1 flex items-end">
          <dl class="flex text-sm divide-x divide-gray-200 space-x-4 sm:space-x-6">
            <div class="flex">
              <dt class="font-medium text-white">Quantity</dt>
              <dd class="ml-2 text-gray-200">10x</dd>
            </div>
            <div class="pl-4 flex sm:pl-6">
              <dt class="font-medium text-white">Price</dt>
              <dd class="ml-2 text-gray-200">$32.00</dd>
            </div>
            <div class="pl-4 flex sm:pl-6">
                <dt class="font-medium text-white">Total</dt>
                <dd class="ml-2 text-gray-200">$320.00</dd>
              </div>
          </dl>
        </div>
      </div>
    </div>
  </div> -->
</div>
