<div class="max-w-7xl mx-auto py-8 px-8">
  <h2 class="text-5xl font-bold text-gray-600 mb-4 md:mb-16">{{ title }}</h2>
  {{ content }}

  <section class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 pb-12">
    {{ collection:blog  sort="date:desc" }}
    <a href="{{ url }}"
       class="group">
      {{ responsive:featured_image ratio="16/9" class="rounded-md opacity-75 group-hover:opacity-100 transition-all w-full bg-cover duration-300 mb-2" }}
      <!-- <img src="{{ responsive:featured_image }}" class="rounded-md opacity-75 group-hover:opacity-100 transition-all w-full h-64 bg-cover duration-300 mb-2" /> -->
      <span class="text-green-600 text-sm transition-all duration-300 group-hover:text-green-500">{{ date }}</span><br>
      <h2 class="font-bold text-base transition-all duration-300 text-gray-300 group-hover:text-white">{{ title }}</h2>
      <div class="text-sm leading-6 mt-2 transition-all duration-300 text-gray-300 group-hover:text-white">{{ intro }}</div>
    </a>
    {{ /collection:blog }}
  </section>
</div>
